Header set X-Content-Type-Options "nosniff"
#tab1 {
    border: 3px black solid;
    width:100%;
    aligh:center;
    height:100%;
}

#img1 {
    aspect-ratio: 8 / 2;
    width: 100%;
    height: auto;
}

a {
    border-radius: 10px;
    border: 2px navy solid;
    color: lightgrey;
    background-color: #5e3e17;
    padding: 1%;
}

h2 {
    color:white;
    margin-left:5%;
}

@media only screen and (max-width: 288px) and (min-height: 289px) {
	#duzy{
	display: none;
	}
	#maly{
	display: block;
	}
}
@media only screen and (min-width: 289px) and (max-height: 288px) {
	#duzy{
	display: block;
	}
	#maly{
	display: none;
	}
}
@media only screen and (min-width: 289px) and (max-width: 748px) and (min-height: 749px) {
	#duzy{
	display: none;
	}
	#maly{
	display: block;
	}
}
@media only screen and (min-width: 749px) and (max-height: 748px) and (min-height: 289px) {
	#duzy{
	display: block;
	}
	#maly{
	display: none;
	}
}

@media only screen and (min-width: 749px) and (max-width: 1049px) and (min-height: 749px) {
	#duzy{
	display: none;
	}
	#maly{
	display: block;
	}
}
@media only screen and (min-width: 1049px) and (max-height: 1048px) and (min-height: 749px) {
	#duzy{
	display: block;
	}
	#maly{
	display: none;
	}
}

@media only screen and (min-width: 1049px) and (min-height: 1049px) {
	#duzy{
	display: block;
	}
	#maly{
	display: none;
	}
}
